* {
    border: none;
    border-radius: 0;
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, SauceCodePro Nerd Font, Cantarell, sans-serif;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: #282c34;
    color: #dcdfe4;
}

tooltip {
    background: #282c34;
    border: 1px solid #61afef;
}

tooltip label {
    color: #dcdfe4;
}

#window,
#workspaces {
    margin: 0 4px;
}

#workspaces {
    margin-left: 0px;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: #dcdfe4;
    border-bottom: 3px solid #3d4148;
}

#workspaces button.active {
    border-bottom: 3px solid #61afef;
}

#workspaces button.urgent {
    border-bottom: 3px solid #eb4d4b;
}

#tray {
    padding: 0 10px;
    color: #dcdfe4;
    background-color: #61afef;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#custom-suspend {
    padding: 0 14px 0 10px;
    font-size: 20px;
    background-color: #98c379;
}
